In [51]:
import pandas as pd
url=pd.read_csv('./test.csv',header=None)
url.columns=['url']
url.head()

                                                 url
0                   0.0.0.0ua-qingting-260001.config
1  0.0.0.157c.1a50.3ea1.400.7d.umk8jiedncd3nq8qdn...
2                                             0.0.07
3  0.0.21.0.0.24.0.0.d.12.1.0.0.0.5.05.08.51456b0...
4  0.0.283.0.0.1c1.0.0.2cd.9.130.0.0.1.0.00.01.9b...

In [52]:
label=pd.read_csv('./test_final.csv')
label.head()

   label
0      0
1      0
2      4
3      0
4      0

In [53]:
rf=pd.concat([url,label],axis=1)
rf.head()

                                                 url  label
0                   0.0.0.0ua-qingting-260001.config      0
1  0.0.0.157c.1a50.3ea1.400.7d.umk8jiedncd3nq8qdn...      0
2                                             0.0.07      4
3  0.0.21.0.0.24.0.0.d.12.1.0.0.0.5.05.08.51456b0...      0
4  0.0.283.0.0.1c1.0.0.2cd.9.130.0.0.1.0.00.01.9b...      0

In [6]:
rf.to_csv('./rf.csv',index=None)

In [54]:
t=pd.read_csv('./final_text_ip_prediction.csv')
t.head()

                    url  label
0         02f.sxdljx.cn      9
1   03nlwcfs.uydszml.cn      2
2   007svu3i.gmqxisj.cn      2
3  054msgo1.zjx1314.top      6
4            010544.com      6

In [55]:
rf['label'].value_counts()

0     948713
2      46693
4      43424
6       5332
1       1575
8       1537
9        679
10       398
11       121
12         5
Name: label, dtype: int64

In [60]:
i=0
from tqdm import tqdm
for raw in tqdm(t.iterrows()):
    url=raw[1]['url']
    label=raw[1]['label']
    idx=rf['url']==url
    rf.loc[idx,'label']=label

9688it [08:21, 19.32it/s]

In [61]:
rf['label'].value_counts()

0     948634
2      45658
4      41650
6       7361
1       1533
9       1291
8       1042
3        682
10       432
11       189
12         5
Name: label, dtype: int64

In [62]:
t=pd.read_csv('./final_text_noip_prediction.csv')
t.head()

                url  label
0      dingyuxt.com      2
1       f978pay.net     10
2         lp.bd.com     10
3  sj29.mktossl.com      6
4    www.fswycj.com      6

In [63]:
i=0
from tqdm import tqdm
for raw in tqdm(t.iterrows()):
    url=raw[1]['url']
    label=raw[1]['label']
    idx=rf['url']==url
    rf.loc[idx,'label']=label

175it [00:09, 18.33it/s]

In [64]:
rf['label'].value_counts()

0     948634
2      45644
4      41638
6       7372
1       1533
9       1291
8       1040
3        682
10       447
11       191
12         5
Name: label, dtype: int64

In [ ]:
rf.to_csv('./final_prediction.csv',index=None)